In [1]:
%reload_ext autoreload
%autoreload 2

In [2]:
from IPython.display import display, HTML
import pandas
# import qgrid
import empire_earth.databases
import empire_earth.units.relationships.matrices

In [3]:
pandas.set_option("display.max_rows", 999)
pandas.set_option("display.max_columns", 999)
pandas.set_option('display.precision', 3)
# pandas.set_option("display.width", 2000)

In [4]:
# %%time
# empire_earth.databases.dbobjects()

In [5]:
# empire_earth.databases.dbfamily()

In [6]:
# empire_earth.databases.dbweapontohit()

In [7]:
# dbtechtree = empire_earth.databases.dbtechtree()
# dbtechtree = pandas.concat(dbtechtree.values())
# dbtechtree

In [8]:
def vertical_scroll(dataframe: pandas.DataFrame):
    return display(HTML("<div style='height: 500px; overflow: auto; width: fit-content'>" + dataframe.to_html() + "</div>"))

In [9]:
# units_all = empire_earth.units.all()

In [10]:
units = empire_earth.units.attackers()

In [11]:
units_paleo = [units[name] for name in units if units[name].is_available(11)]
# units_paleo.sort(key=lambda unit: unit.name)
units_paleo.sort(key=lambda unit: unit.attack / unit.seconds_per_attack)
# units_paleo.sort(key=lambda unit: unit.attack_mode)
# units_paleo.sort(key=lambda unit: unit.weapon_hit_id)
units_paleo.sort(key=lambda unit: unit.building_id)
units_paleo.sort(key=lambda unit: unit.type_id)
# units_paleo = {unit.id: unit for unit in units_paleo}
# vertical_scroll(pandas.DataFrame(units_paleo))

In [12]:
# import empire_earth.units.relationships
vertical_scroll(empire_earth.units.relationships.matrices.matrix_tactical(units_paleo).style.set_sticky('columns'))

In [13]:
vertical_scroll(empire_earth.units.relationships.matrices.matrix_strategic(units_paleo).style.set_sticky('columns'))